@font-face {
	font-family: 'MuseoSansCyrl';
	src: url('../fonts/MuseoSansCyrl_1.eot');
	src: url('../fonts/MuseoSansCyrl_1.eot?#iefix') format('embedded-opentype'), url('../fonts/MuseoSansCyrl_1.woff') format('woff'), url('../fonts/MuseoSansCyrl_1.ttf') format('truetype'), url('../fonts/MuseoSansCyrl_1.svg#MuseoSansCyrl') format('svg');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'MuseoSansCyrl';
	src: url('../fonts/MuseoSansCyrl_2.eot');
	src: url('../fonts/MuseoSansCyrl_2.eot?#iefix') format('embedded-opentype'), url('../fonts/MuseoSansCyrl_2.woff') format('woff'), url('../fonts/MuseoSansCyrl_2.ttf') format('truetype'), url('../fonts/MuseoSansCyrl_2.svg#MuseoSansCyrl') format('svg');
	font-style: normal;
	font-weight: 500;
}
