
/* NAV */
.main-navbar:before,
.main-navbar:after {
	content: "";
	clear: both;
	display: table;
}
nav li {
	display: inline-block;
	margin-right: 15px;
}
nav li a {
	font-size: 14px;
	text-transform: uppercase;
	position: relative;
	padding: 0 4px;
}
nav li a:after {
	background-color: white;
	content: "";
	height: 1px;
	left: 0;
	margin-top: -1px;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	top: 140%;
	width: 100%;
	-webkit-transition: top .3s, opacity .3s;
	transition: top .3s, opacity .3s;
}
nav li a:hover:after {
	opacity: 1;
	top: 50%;
	-webkit-transition: top .3s, opacity .3s;
	transition: top .3s, opacity .3s;
}


/* END NAV */

/* TOP-LINE */
.top-line {
	font-size: 14px;
	padding: 23px 0 15px;
}
.top-line .container {
	position: relative;
}
.top-line .navbar.main-navbar {
	margin-left: 200px;
}
.top-line .navbar-left {
	text-align: left;
}
.top-line .navbar-right {
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 290px;
}
.top-line .brand-holder {
	text-align: center;
	height: 176px;
	left: -11px;
	position: absolute;
	top: -10px;
	width: 176px;
	z-index: 2;
}
.top-line .brand-holder > div {
	display: inline-block;
	text-align: center;
	height: 176px;
	width: 176px;
}
.top-line .extra-link-holder {
	height: 50px;
	position: absolute;
	right: -90px;
	top: -19px;
	width: 90px;
	z-index: 2;
}
/*.top-line .navbar-phone {
	font-size: 14px;
	position: absolute;
	top: 24px;
	white-space: nowrap;
}*/
/* END TOP-LINE */

/* MAIN-SCREEN */
section.main-screen {
	overflow: hidden;
	height: 745px;
}
section.main-screen .content {
	position: relative;
}
section.main-screen .background-video-holder {
	left: 0;
	overflow: hidden;
	pointer-events: none;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 0;
}
section.main-screen .background-video-holder video {
	min-width: 100%;
}
section.main-screen .background-video-holder:after {
	background: rgba(0,0,0,0.3) url('../img/bg/grid-1200.png') 50% 50% repeat-y;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2;
}
section.main-screen .content-holder {
	position: relative;
}
section.main-screen .content-holder .vertical-middle {
	position: relative;
	z-index: 2;
}
section.main-screen .content-holder p.description {
	font-size: 18px;
	margin-bottom: 30px;
	margin-top: 252px;
	text-transform: uppercase;
}
section.main-screen .content-holder h1 {
	line-height: 50px;
	padding-right: 76px;
}
section.main-screen .left-bottom-holder {
	bottom: 208px;
	left: 27px;
	position: absolute;
	text-align: left;
	text-transform: uppercase;
	white-space: nowrap;
	width: 0;
	-webkit-transform: rotateZ(90deg);
	transform: rotateZ(90deg);
}
section.main-screen .left-bottom-holder span {
	cursor: pointer;
	vertical-align: middle;
}
section.main-screen .left-bottom-holder span:after {
	background: #fff;
	content: "";
	display: inline-block;
	height: 2px;
	margin-left: 15px;
	margin-top: -2px;
	vertical-align: middle;
	width: 78px;
}
section.main-screen .right-top-holder {
	position: absolute;
	right: 18px;
	top: 40px;
	width: 0;
	white-space: nowrap;
	-webkit-transform: rotateZ(90deg) translateZ(0);
	transform: rotateZ(90deg) translateZ(0);
}
section.main-screen .right-top-holder a {
	color: white;
	font-size: 14px;
	text-transform: uppercase;
	position: relative;
}
section.main-screen .right-top-holder a:after {
	background-color: white;
	content: "";
	height: 1px;
	left: 0;
	margin-top: -1px;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	top: 140%;
	width: 100%;
	-webkit-transition: top .3s, opacity .3s;
	transition: top .3s, opacity .3s;
}
section.main-screen .right-top-holder a:hover:after {
	opacity: 1;
	top: 50%;
	-webkit-transition: top .3s, opacity .3s;
	transition: top .3s, opacity .3s;
}
section.main-screen ul.socials li {
	display: inline-block;
	margin-right: 40px;
}
/* END MAIN-SCREEN */

/* FEATURES */
section.features {
	padding-top: 77px;
}
section.features .container {
	position: relative;
}
section.features .left-side {
	position: absolute;
	width: 300px;
}
section.features .right-side {
	margin-left: 330px;
	overflow: hidden;
}
section.features ul.features-list {
	margin-right: -145px;
	margin-bottom: -24px;
}
section.features ul.features-list li {
	display: inline-block;
	margin-bottom: 22px;
	margin-right: 123px;
	min-height: 180px;
	padding-left: 60px;
	position: relative;
	vertical-align: top;
	width: 382px;
}
section.features ul.features-list li h2 {
	color: white;
	font-size: 24px;
	line-height: 24px;
	margin-bottom: 22px;
	text-transform: uppercase;
}
section.features ul.features-list li  p {
	color: white;
	font-size: 15px;
	line-height: 19px;
	opacity: 0.7;
}
section.features ul.features-list li .counter {
	color: white;
	font-size: 72px;
	left: 0;
	position: absolute;
	text-transform: uppercase;
	top: 23px;
}
/* END FEATURES */

/* SERVICES */
section.services {
	/*display: none;*/
}
section.services .service {
	cursor: pointer;
	background: #000;
	display: block;
	float: left;
	height: 343px;
	overflow: hidden;
	position: relative;
	width: 50%;
}
section.services .service > .image-holder {
	left: 0;
	opacity: .3;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
}
section.services .service > .content-holder {
	position: absolute;
	top: 50%;
	left: 96px;
	width: 100%;
}
section.services .service > .content-holder h2 {
	font-weight: 100;
	max-width: 221px;
	text-transform: uppercase;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
section.services .service > .content-holder button {
	position: absolute;
	top: -22px;
	right: -293px;
	padding: 12px;
	-webkit-transition: right .3s, background .3s, border .3s, color .3s, filter .3s;
	transition: right .3s, background .3s, border .3s, color .3s, filter .3s;
}
section.services .service > .content-holder button span {
	display: inline-block;
	margin-top: 2px;
}
section.services .service > .content-holder button img {
	margin-top: -4px;
	height: 15px;
	width: 20px;
	-webkit-transition: filter .3s;
	transition: filter .3s;
}
section.services .service > .content-holder button:hover img {
	-webkit-filter: invert(100%);
	filter: invert(100%);
	-webkit-transition: filter .3s;
	transition: filter .3s;
}
section.services .service:hover > .image-holder {
	opacity: 0.8;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
}
section.services .service:hover > .content-holder button {
	right: 193px;
	-webkit-transition: right .3s ease-out, background .3s, border .3s, color .3s, filter .3s;
	transition: right .3s ease-out, background .3s, border .3s, color .3s, filter .3s;
}
/* END SERVICES */

/* PARTNERS */
section.partners {}

section.partners .left-side {
	position: absolute;
	height: 360px;
	width: 360px;
}
section.partners .left-side h2 {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
section.partners .right-side {
	height: 360px;
	margin-left: 422px;
}
section.partners .partners-slider {
	position: relative;
	top: 90px;
}
section.partners .partners-slider .slider-viewport {
	height: 180px;
	position: relative;
	top: 20px;
}
section.partners .partner {
	display: inline-block;
	text-align: center;
	height: 90px;
	vertical-align: top;
	width: 230px;
}
section.partners .partner img {
	display: inline-block;
	vertical-align: middle;
}
section.partners .paginator-holder {
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
/* END PARTNERS */

/* BONUSES */
section.bonuses {
	background: url('../img/bg/bonus-bg-1.png') 370px -40px no-repeat;
	background-position: right 25px top -25px;
	overflow: hidden;
	height: 361px;
}
section.bonuses .left-side {
	border-right: 1px solid #fff;
	position: relative;
	float: left;
	height: 361px;
	width: 200px;
}
section.bonuses .left-side h2 {
	color: white;
	font-size: 24px;
	font-weight: 100;
	position: absolute;
	text-transform: uppercase;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
section.bonuses .right-side {
	height: 361px;
	margin-left: 200px;
	position: relative;
	width: 100%;
}
section.bonuses .right-side h1 {
	color: white;
	font-size: 32px;
	line-height: 42px;
	font-weight: 100;
	margin-left: 100px;
	max-width: 748px;
	position: absolute;
	text-transform: uppercase;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
/* END BONUSES */

/* MOBILE */
.navbar-toggle {
	background: none;
	cursor: pointer;
	left: 32px;
	overflow: auto;
	position: fixed;
	top: 26px;
	z-index: 2;
}
.navbar-toggle .icon-bar {
	background: #fff;
	display: block;
	height: 3px;
	margin-bottom: 5px;
	pointer-events: none;
	width: 25px;
}
.close-lightbox {
	background: none;
	bottom: 15px;
	cursor: pointer;
	left: 50%;
	margin-left: -10px;
	opacity: 0.5;
	position: absolute;
	z-index: 2;
	transform: rotate(45deg);
	transition: opacity .4s;
	-webkit-transform: rotate(45deg);
	-webkit-transition: opacity .4s;
}
.close-lightbox:hover {
	opacity: 1;
	-webkit-transition: opacity .1s;
	transition: opacity .1s;
}
.close-lightbox img {
	pointer-events: none;
}
.mobile-menu {
	background: rgba(0,0,0,.8);
	height: 100%;
	left: 0;
	overflow: auto;
	position: fixed;
	top: -100%;
	width: 100%;
	z-index: 10;
	-webkit-transition: top .4s;
	transition: top .4s;
}
.mobile-menu::-webkit-scrollbar {
	background-color: #fff;
	border: none;
	height: 0;
	width: 0;
}
.mobile-menu.opened {
	left: 0;
	top: 0;
	-webkit-transition: top .4s;
	transition: top .4s;
}
.mobile-menu ul {
	margin-top: 100px;
}
.mobile-menu li {
	text-align: center;
}
.mobile-menu li a {
	color: #fff;
	font-size: 28px;
	font-weight: 700;
	line-height: 64px;
	text-align: center;
}
.mobile-menu li.active a {
	color: #f41f52;
}
/* END MOBILE */



/* UPDARES */
section.updates {
	overflow: hidden;
}
section.updates .headers {
	height: 32px;
	margin-top: 82px;
}
section.updates .headers h2 {
	color: black;
	font-size: 24px;
	font-weight: 100;
	padding-bottom: 40px;
	text-transform: uppercase;
}
section.updates .headers .left-side,
section.updates .headers .right-side {
	padding-left: 99px;
}
section.updates .left-side {
	width: 50%;
	float: left;
}
section.updates .right-side {
	position: relative;
	float: left;
	width: 50%;
}
section.updates .instagram-holder {
	overflow: hidden;
	height: 100%;
	width: 100%;
}
section.updates .instagram-holder iframe {
	height: 100%;
	width: 100%;
}
/* TODO remove it */
section.updates .instagram-holder img {
	width: 100%;
}
section.updates .news-slider {
	margin-top: 88px;
	margin-left: 70px;
	padding-bottom: 40px;
}
section.updates .slider-holder {
	font-size: 0;
	width: 600px;
}
section.updates .slider-holder .slide {
	float: left;
}
section.updates .slider-holder .new-item {
	cursor: pointer;
	display: inline-block;
	margin-bottom: 56px;
	padding-top: 34px;
	padding-right: 30px;
	padding-left: 30px;
	position: relative;
	vertical-align: top;
	width: 50%;
}
section.updates .slider-holder .new-item > * {
	position: relative;
	-webkit-transition: color .3s;
	transition: color .3s;
}
section.updates .slider-holder .new-item:hover > * {
	position: relative;
	color: #fff;
	-webkit-transition: color .3s;
	transition: color .3s;
}
section.updates .slider-holder .new-item .image-holder {
	background: #000;
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 0;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
}
section.updates .slider-holder .new-item .image-holder:after {
	background: rgba(0,0,0,.4);
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
section.updates .slider-holder .new-item:hover .image-holder {
	opacity: 1;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
}
section.updates .slider-holder .new-item h2 {
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	font-weight: 100;
	margin-bottom: 19px;
}
section.updates .slider-holder .new-item p {
	color: black;
	font-size: 13px;
	line-height: 17px;
	margin-bottom: 19px;
}
section.updates .slider-holder .new-item p.date {
	color: #888;
	font-size: 13px;
	line-height: 17px;
	margin-bottom: 28px;
	-webkit-transition: color .3s;
	transition: color .3s;
}
section.updates .slider-holder .new-item:hover p.date {
	color: #fff;
	-webkit-transition: color .3s;
	transition: color .3s;
}
section.updates .paginator-holder {
	/*display: none;*/
	/*margin-bottom: 40px;*/
	padding-right: 70px;
}
/* END UPDARES */




/* footer */
/* END footer */
section.footer {
	padding: 0 60px 0 99px;
	position: relative;
}
section.footer .left-side,
section.footer .right-side {
	float: left;
	width: 50%;
}
section.footer .left-side {
	padding-top: 97px;
	padding-bottom: 23px;
}
section.footer .map-holder {
	position: absolute;
	right: 0;
	top: 0;
	width: 50%;
}
section.footer h2 {
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 100;
	margin-bottom: 95px;
}
section.footer p {
	color: white;
	font-size: 16px;
	line-height: 28px;
	text-transform: uppercase;
	margin-bottom: 60px;
}
section.footer ul {
	display: inline-block;
	width: 47%;
}
section.footer ul li {
	display: block;
	color: white;
	font-size: 16px;
	line-height: 28px;
	text-transform: uppercase;
	margin-bottom: 28px;
}
section.footer ul li a {
	position: relative;
	padding: 0 4px;
}
section.footer ul li a:after {
	background-color: white;
	content: "";
	height: 1px;
	left: 0;
	margin-top: -1px;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	top: 140%;
	width: 100%;
	-webkit-transition: top .3s, opacity .3s;
	transition: top .3s, opacity .3s;
}
section.footer ul li a:hover:after {
	opacity: 1;
	top: 50%;
	-webkit-transition: top .3s, opacity .3s;
	transition: top .3s, opacity .3s;
}
section.footer .copyright-holder {
	margin-top: 103px;
}
section.footer .copyright-holder > a,
section.footer .copyright-holder > span {
	/*width: 32.5%;*/
	display: inline-block;
	color: #888;
	font-size: 13px;
	line-height: 17px;
	margin-right: 94px;
}
section.footer .copyright-holder > a:last-child {
	margin-right: 0;
}
section.footer .copyright-holder a span {
	position: relative;
	padding: 0 4px;
	-webkit-transition: color .3s;
	transition: color .3s;
}
section.footer .copyright-holder a span:after {
	background-color: white;
	content: "";
	height: 1px;
	left: 0;
	/*margin-top: -1px;*/
	opacity: 0;
	pointer-events: none;
	position: absolute;
	top: 140%;
	width: 100%;
	-webkit-transition: top .3s, opacity .3s;
	transition: top .3s, opacity .3s;
}
section.footer .copyright-holder a:hover span {
	color: #fff;
	-webkit-transition: color .3s;
	transition: color .3s;
}
section.footer .copyright-holder a:hover span:after {
	opacity: 1;
	top: 50%;
	-webkit-transition: top .3s, opacity .3s;
	transition: top .3s, opacity .3s;
}

/* PERSONAL */
.personal {
	overflow: hidden;
}
.personal .section-label {
	margin-top: 79px;
	margin-bottom: 30px;
}
/* END PERSONAL */

/* PERSONS-SLIDER */
.persons-slider {
	display: block;
	position: relative;
	/*height: 520px;*/
}
.persons-slider .slider-viewport {
	overflow: hidden;
	width: 100%;
}
.persons-slider .slider-holder {
	-webkit-transition: transform 0.8s ease-in-out;
	transition: transform 0.8s ease-in-out;
}
.persons-slider .slide {
	float: left;
	overflow: hidden;
	position: relative;
}
.persons-slider .slide .image-holder {
	height: 520px;
}
.persons-slider .slide .image-holder video {
	height: 100%;
	min-width: 100%;
	-webkit-transform: translateX(-25%);
	transform: translateX(-25%);
}
.persons-slider .slide .content-holder h2 {
	color: #fff;
	margin-bottom: 18px;
}
.persons-slider .slide .content-holder p {
	color: white;
	font-size: 13px;
	line-height: 17px;
	margin-bottom: 16px;
}
.persons-slider .slide .content-holder p.role {
	color: white;
	font-size: 14px;
	line-height: 19px;
	text-transform: uppercase;
}
.persons-slider .slide .content-holder {
	background: rgba(0,0,0,0);
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.5)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
	color: #fff;
	bottom: -100%;
	position: absolute;
	padding: 40px 96px 0;
	-webkit-transition: bottom .4s ease-in;
	transition: bottom .4s ease-in;
}
/* hover */
.persons-slider .slide:hover .content-holder {
	bottom: 0;
	-webkit-transition: bottom .4s ease-out;
	transition: bottom .4s ease-out;
}

.persons-slider .prev-slide,
.persons-slider .next-slide {
	cursor: pointer;
	margin-top: -21px;
	position: absolute;
	top: 50%;
	width: 23px;
	height: 42px;
}
.persons-slider .next-slide {
	background: url('../img/icons/arrow-slider-right-1.svg') 0 0 no-repeat;
	right: 16px;
}
.persons-slider .prev-slide {
	background: url('../img/icons/arrow-slider-left-1.svg') 0 0 no-repeat;
	left: 16px;
}
/* END PERSONS-SLIDER */


/* MAP */
 #footer-map {
	 height: 570px;
 }
 #footer-map .gm-style-cc,
 #footer-map .gmnoprint,
 #footer-map .gmnoscreen,
 #footer-map a[target="_blank"]{
	 display:none !important
 }
/* END MAP */


/* ADMIN */
#admin-button {
	position: fixed;
	right: 20px;
	bottom: 20px;
}
.editable {
	cursor: pointer;
	position: relative;
}
.editable:hover {
	-webkit-filter: invert(30%);
	filter: invert(30%);
	z-index: 9;
}
.editable:after {
	display: block !important;
	content: '' !important;
	position: absolute !important;
	top: 0 !important;
	left: auto !important;
	right: -25px !important;
	height: 20px !important;
	width: 20px !important;
}
.editable[contenteditable="true"] {
	outline: 2px solid red;
}
.editable[contenteditable="true"]:after {
	display: none !important;
}
/* END ADMIN */

/* MODALS */
#news-modal .modal-content {
	height: 100%;
	width: 100%;
	max-height: 700px;
	max-width: 900px;
	padding-right: 100px;
	padding-top: 84px;
	padding-bottom: 84px;
	-webkit-transform: translateY(-50%) translateX(100%);
	transform: translateY(-50%) translateX(100%);
}
#news-modal .modal-content button {
	margin-top: 40px;
}
#news-modal.opened .modal-content {
	-webkit-transform: translateY(-50%) translateX(0);
	transform: translateY(-50%) translateX(0);
}
#news-modal .modal-content h3 {
	color: white;
	margin-top: 35px;
	margin-bottom: 20px;
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
}
#news-modal .modal-content p {
	color: white;
	font-weight: 200;
	font-size: 13px;
	line-height: 20px;
}
#news-modal.opened .modal-content .label {
	margin-top: 20px;
	margin-bottom: 20px;
}
#news-modal .modal-content .content-wrapper::-webkit-scrollbar-corner {
	background-color: #000;
	border: 2px solid #000;
}
#news-modal .modal-content .content-wrapper::-webkit-scrollbar {
	width: 2px;
	background-color: #fff;
	border: 2px solid #444;
}
#news-modal .modal-content .content-wrapper::-webkit-scrollbar-thumb {
	background-color: #444;
	border: 2px solid #fff;
}
#news-modal .modal-content .content-wrapper {
	overflow: hidden;
	overflow-y: auto;
	padding-right: 100px;
	padding-left: 100px;
	position: relative;
	max-height: 100%;
}
#news-modal .modal-content .date-holder {
	position: absolute;
	left: 0;
	top: 92px;
	text-align: right;
	-webkit-transform: rotate(-90deg) translateX(0) translateY(-16px);
	transform: rotate(-90deg) translateX(0) translateY(-16px);
	width: 200px;
}
#news-modal .modal-content .image-holder {
	max-width: 700px;
}

#services-modal .modal-content {
	height: 100%;
	max-height: 700px;
	max-width: 700px;
	padding-right: 100px;
	padding-top: 84px;
	padding-bottom: 84px;
	right: auto;
	left: 0;
}
#services-modal .modal-content h3 {
	color: white;
	margin-top: 35px;
	margin-bottom: 20px;
	font-size: 24px;
	text-transform: uppercase;
}
#services-modal .modal-content p {
	color: white;
	font-weight: 200;
	font-size: 13px;
	line-height: 17px;
}
#services-modal .modal-content .services-list div,
#services-modal .modal-content .services-list p,
#services-modal .modal-content .services-list li {
	opacity: 0.7;
	color: white;
	font-size: 15px;
	line-height: 45px;
	border-bottom: 1px solid #333;
}
#services-modal .modal-content button.type-1 {
	margin-top: 40px;
	margin-bottom: 40px;
}
#services-modal .modal-content .form-group.file {
	margin-top: 40px;
	margin-bottom: 40px;
}
#services-modal .modal-content .form-group.file .label {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
}
#services-modal .modal-content .form-group.file label {
	display: inline-block;
	min-height: 25px;
	min-width: 100px;
}
#services-modal .modal-content .content-wrapper::-webkit-scrollbar-corner {
	background-color: #000;
	border: 2px solid #000;
}
#services-modal .modal-content .content-wrapper::-webkit-scrollbar {
	width: 2px;
	background-color: #fff;
	border: 2px solid #444;
}
#services-modal .modal-content .content-wrapper::-webkit-scrollbar-thumb {
	background-color: #444;
	border: 2px solid #fff;
}
#services-modal .modal-content .content-wrapper {
	overflow: hidden;
	overflow-y: auto;
	padding-right: 100px;
	padding-left: 100px;
	position: relative;
	max-height: 100%;
}
#services-modal .modal-content .image-holder {
	max-width: 700px;
}
#admin-saved {
	background: #000;
}
#admin-saved .modal-content {
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.editor-modal {
	overflow-y: auto;
}
.editor-modal.opened .modal-content {
	margin: 60px 0 20px;
	padding: 40px;
	right: auto;
	bottom: auto;
	left: 50%;
	top: 50%;
	text-align: center;
	overflow: auto;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	max-width: 770px;
	width: 100%;
}
.editor-modal .form-group {
	display: inline-block;
	margin: 10px 20px;
	vertical-align: top;
	text-align: left;
	/*min-width: 50%;*/
}
.editor-modal .button-holder {
	margin-top: 20px;
}
.editor-modal .form-group textarea,
.editor-modal .form-group input {
	width: 300px;
}
.editor-modal .form-group input {
	border: 1px solid black;
	height: 40px;
}
.editor-modal .form-group textarea {
	border: 1px solid black;
	height: 200px;
	width: 640px;
	max-width: 100%;
}
.editor-modal .form-group textarea.small {
	height: 100px;
	width: 300px;
}
.editor-modal .form-group .label {
	font-size: 14px;
	margin-bottom: 4px;
}
.editor-modal .form-group.error input,
.editor-modal .form-group.error textarea {
	background: #e6a8a8;
}
.editor-modal .file.error {
	background: #e6a8a8;
}
.editor-modal .file input {
	top: 20px;
}
.editor-modal .file label {
	display: block;
	text-align: center;
	line-height: 30px;
	height: 40px;
	width: 300px;
	position: relative;
	/*top: -20px;*/
}
.editor-modal .file.error label {
	background: #e6a8a8 !important;
}
/* END MODALS */